@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

$ff-sans: "Roboto", sans-serif;

$ff-base: $ff-sans;

$font-sizes: (
  800: clamp(2.5rem, 2.1479rem + 1.5023vi, 3.5rem),
  300: 1rem,
  200: 0.75rem,
);

$fw-400: 400;
$fw-700: 700;
