@use "../abstracts/" as *;

.signup-form {
  position: relative;
  display: grid;
  gap: $form-grid-gap;

  .email-input {
    border: 1px solid hsla(243, 28%, 13%, 25%);
    border-radius: size(8);
    outline: 1px solid transparent;

    &:focus-within {
      outline-color: #d8d8d8;
    }
  }
}
