@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(300);
  color: clr(neutral, 900);
  background-color: clr(neutral, 100);
  line-height: 1.5;
  display: grid;
  grid-template-rows: 1fr auto;
  @include mq(medium) {
    background-color: clr(neutral, 900);
  }
}

.main-content {
  @include mq(medium) {
    align-self: center;
    margin-block: size(24);
  }
}

footer {
  @include mq(medium) {
    color: clr(neutral, 100);
  }
}
